global
    log /dev/log local0
    maxconn 4096
    user haproxy
    group haproxy
    daemon
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11

defaults
    mode tcp
    log global
    option dontlognull
    timeout connect 10s
    timeout client  1h
    timeout server  1h
    timeout tunnel  1h

# Port publik: 80 dan 8080 (non-TLS), 443 (TLS)
frontend ws_plain
    bind *:80
    bind *:8080
    default_backend nginx_local

frontend ws_tls
    bind *:443 ssl crt /etc/xray-script/xray.pem
    default_backend nginx_local

# Semua diteruskan ke nginx lokal (127.0.0.1:8880)
backend nginx_local
    server nginx 127.0.0.1:8880
